*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
header{
    width: 100% ;
    height: 100vh ;
    background: linear-gradient(to right, #6e6e6e 70% ,  #49111c 30% );
}
.navigation{
    width: 100% ;
    display: flex ;
    justify-content: space-between ;
    align-items: center;
    padding: 12px 40px ;
}
.s-icon i:first-child{
    /* background: #F8CE8E ; */
     padding: 6px 9px ;
     color:   #F8CE8E  ;
     border-radius: 14px ;
     font-size: 20px ;
}
.s-icon i{
    padding: 7px ;
    color: white ;
    border-radius: 14px ;
    font-size: 20px ;
    margin: 0px  5px ;
}
.s-icon i:hover{
   /* background: #F8CE8E; */
    color:  #F8CE8E  ;
    transition: 0.5s ;
}
nav{
    width: 100% ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 10px 50px ;
}
.logo{
    font-weight: bold ;
    font-size: 50px ;
    color:  #F8CE8E ;
    letter-spacing: -4px ;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Ibarra Real Nova', serif;

}
.email{
    color: #F8CE8E  ;
    font-size: 16px ;
    padding: 10px 18px ;
    font-weight: 8px ; 
    font-family: 'Lato', sans-serif ;

}
.menu a{
    text-decoration: none ;
    color: #ffff ;
    font-size: 16px ;
    padding: 10px 18px ;
    font-weight: 8px ;
    border-radius: 14px ;
    font-family: 'Lato', sans-serif ;

}
.menu a:first-child{
     border: none ;
    color:  #F8CE8E ;
    transition: 0.5s ;
}
.menu a:hover{
    border: none ;
    color:  #F8CE8E ;
    transition: 0.5s ;
}
.container{
    width: 100% ;
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    padding: 10px 70px ;
}
img{
    width: 500px ;
    height: 450px ;
}
.left{
    flex-basis: 50% ;
    color: white ;
}
.right{
    flex-basis: 50% ;
    text-align: right ;
}
.left h1{
    font-size: 70px ; 
}
.left h1 span{
    background:  #F8CE8E;
    color: #49111c  ;
    padding: 0px 12px ;
    margin-left: 2px ;
    border-radius: 8px ;
}
.left p{
    margin: 30px 0px ;
    line-height: 1.6rem ;
    font-family: 'Raleway', sans-serif;
    word-spacing: .1rem ;
}
.left button{
    padding: 10px 20px ;
    border: none ;
    outline: none ;
    background: #F8CE8E ;
    color:  #49111c ;
    border-radius: 14px ;
    font-family: 'Lato', sans-serif; ;

}
#btn2{
    padding: 10px 20px ;
    border: 2px solid  #F8CE8E  ;
    outline: none ;
    font-weight: bold ;
    background : transparent ;
    color:  #49111c ;
    border-radius: 14px ;
    margin-left: 10px ;
    font-family: 'Lato', sans-serif; ;

}
@media only screen and (max-width: 700px ){
    header{
        width: 100% ;
        height: 100% ;
        background: linear-gradient(to right, #6e6e6e 70% ,  #49111c 30% );
    }
    nav{
        height: 200px ;
        justify-content: space-between ;
        align-items: center ;
        padding: 10px 20px ;
    }
    .logo{
        width: 100%;
        height: 100px ;
        font-size: 20px ;
       letter-spacing: -1px ;
    }
    .menu a{
        display: flex ;
        font-size: 16px ;
        padding: 5px 5px ;
        font-weight: 4px ;
    }
    .container{
        width: 100% ;
        padding: 5px 10px ;
        display: flex ;
    }
    img{
        width:200px ;
        height: 425px ;
    }
    .left{
        margin : 5px 5px ;
    }
    .right{
        margin-left : 5px ; 
        margin-right: 20px ;
    }
    .left h1{
        font-size: 25px ; 
    }
    .left h1 span{
        padding: 0px 4px ;
        margin-left: 4px ;
        border-radius: 8px ;
    }
    .left p{
        margin: 30px 0px ;
        line-height: 1.4rem ;
    }
    #btn2{
        padding: 10px 20px ;
        margin-top: 10px ;
        margin-left: 10px ;
    
    }
}